<html>
<head><title>Closest</title></head>
<body>
<h3>Filter by closest</h3>
<pre th:if="${!closestForm.entriesPresent}" th:style="'color:red;'">
    quake entries missing</pre>
<form action="#" th:action="@{/earthquake/closest}" th:object="${closestForm}"
      method="post">
    <label>latitude<br>
        <input type="text" width="200" th:field="*{latitude}">
    </label><br>
    <label>longitude<br>
        <input type="text" width="200" th:field="*{longitude}">
    </label><br>
    <label>howMany<br>
        <input type="text" width="200" th:field="*{howMany}">
    </label><br>
    <br><input type="submit" value="submit"/><input type="reset" value="Reset"/>
</form>
<pre th:if="${closestForm.formInvalid}" th:style="'color:red;'">
    form data invalid</pre>
<a th:href="@{~/earthquake/entries}">entries</a><br><br>

<pre th:text="${closestForm.howMany}" th:style="'color:red;'">
    number</pre>
<pre th:text="${closestForm.output}" th:style="'color:red;'">
    output</pre>

</body>
</html>
