<html>
<head><title>Distance</title></head>
<body>
<h3>Filter by distance</h3>
<pre th:if="${!distanceFilter.entriesPresent}" th:style="'color:red;'">
    quake entries missing</pre>
<form action="#" th:action="@{/earthquake/distance}" th:object="${distanceFilter}"
      method="post">
    <label>latitude<br>
        <input type="text" width="200" th:field="*{latitude}">
    </label><br>
    <label>longitude<br>
        <input type="text" width="200" th:field="*{longitude}">
    </label><br>
    <label>distance<br>
        <input type="text" width="200" th:field="*{distance}">
    </label><br>
    <br><input type="submit" value="submit"/><input type="reset" value="Reset"/>
</form>
<pre th:if="${distanceFilter.formInvalid}" th:style="'color:red;'">
    form data invalid</pre>
<a th:href="@{~/earthquake/entries}">entries</a><br><br>

<a th:href="@{~/earthquake/closest}">closest</a><br>
<a th:href="@{~/earthquake/depth}">depth</a><br>
<a th:href="@{~/earthquake/magnitude}">magnitude</a><br>
<a th:href="@{~/earthquake/phrase}">phrase</a><br>

<pre th:text="${distanceFilter.output}" th:style="'color:red;'">
    outuput</pre>

</body>
</html>
