<html>
<head><title>Largest</title></head>
<body>
<h3>Filter by largest</h3>
<pre th:if="${!largestForm.entriesPresent}" th:style="'color:red;'">
    quake entries missing</pre>
<form action="#" th:action="@{/earthquake/largest}" th:object="${largestForm}"
      method="post">
    <label>how many<br>
        <input type="text" width="200" th:field="*{howMany}">
    </label><br>
    <br><input type="submit" value="Submit"/><input type="reset" value="Reset"/>
</form>
<pre th:if="${largestForm.formInvalid}" th:style="'color:red;'">
    form data invalid</pre>
<a th:href="@{~/earthquake/entries}">entries</a><br><br>

<pre th:text="${largestForm.number}" th:style="'color:red;'">
    number</pre>
<pre th:text="${largestForm.output}" th:style="'color:red;'">
    output</pre>

</body>
</html>
