<html>
<head><title>Magnitude</title></head>
<body>
<h3>Filter by magnitude</h3>
<pre th:if="${!magnitudeFilter.entriesPresent}" th:style="'color:red;'">
    quake entries missing</pre>
<form action="#" th:action="@{/earthquake/magnitude}" th:object="${magnitudeFilter}"
      method="post">
    <label>magnitude to filter by<br>
        <input type="text" width="200" th:field="*{magnitude}">
    </label><br>
    <br><input type="submit" value="filter"/><input type="reset" value="Reset"/>
</form>
<pre th:if="${magnitudeFilter.formInvalid}" th:style="'color:red;'">
    form data invalid or no entries found</pre>
<a th:href="@{~/earthquake/entries}">entries</a><br><br>
<a th:href="@{~/earthquake/closest}">distance</a>
</body>
</html>
