<html>
<head><title>Phrase</title></head>
<body>
<h3>Filter by phrase</h3>
<pre th:if="${!phraseFilter.entriesPresent}" th:style="'color:red;'">
    quake entries missing</pre>
<form action="#" th:action="@{/earthquake/phrase}" th:object="${phraseFilter}"
      method="post">
    <label>phrase<br>
        <input type="text" width="200" th:field="*{phrase}">
    </label><br><br>
    <label>position</label><br>
        <div th:each="position : ${T(com.example.earthquakes.web.formdata.PhraseFilter.PhrasePosition).values()}">
            <input type="radio" th:field="*{position}" th:value="${position}">
            <label th:text="${position.getString()}">position</label>
            <br>
        </div>
    <br><input type="submit" value="submit"/><input type="reset" value="Reset"/>
</form>
<pre th:if="${phraseFilter.formInvalid}" th:style="'color:red;'">
    form data invalid</pre>
<a th:href="@{~/earthquake/entries}">entries</a><br><br>

<a th:href="@{~/earthquake/closest}">closest</a><br>
<a th:href="@{~/earthquake/depth}">depth</a><br>
<a th:href="@{~/earthquake/distance}">distance</a><br>
<a th:href="@{~/earthquake/magnitude}">magnitude</a><br>

<pre th:text="${phraseFilter.number}" th:style="'color:red;'">
    number</pre>
<pre th:text="${phraseFilter.output}" th:style="'color:red;'">
    outuput</pre>

</body>
</html>
